* {
  margin: 0;
  box-shadow: none;
  font-family: Poppins, sans-serif;
}

.titles {
  color: white;
  font-size: 30px;
  padding-top: 30px;
}

#sidebar {
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #BF1448;
  height: 100%;
  width: 480px;
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

#mybooks {
  margin-top: 30px;
}

.form-container, #stats-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 300px;
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.form-input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  color: #BF1448;
  padding-left: 15px;
  padding-top: 5px;
  background-color: #F4E7EB;
  margin-bottom: 15px;
  border: none;
}
.form-input:focus {
  appearance: none;
  outline: none;
}
.form-checkbox {
  transform: scale(2);
  margin-left: 5px;
}
.form-checkbox-text {
  color: #BF1448;
  margin-left: 10px;
}

.checkbox-container {
  padding-left: 30px;
}

#checkbox-add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #BF1448;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}
#submit:active {
  background-color: white;
  border: solid 2px #BF1448;
  color: #BF1448;
}

#submit-div {
  padding-right: 30px;
}

#stats-container {
  align-items: center;
  justify-content: center;
}

#michel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}
#michel > a {
  text-decoration: none;
  color: inherit;
}

.stats {
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  font-size: 20px;
  color: #BF1448;
  padding-left: 15px;
  padding-top: 5px;
  background-color: #F4E7EB;
  margin-bottom: 15px;
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: solid 2px #BF1448;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 550px;
  padding-top: 75px;
}
.card-fields {
  display: flex;
  flex-direction: column;
}
.card-delete {
  background-color: #BF1448;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-toggle {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  background-color: #BF1448;
  color: white;
  width: 120px;
  height: 35px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.card-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title, .author, .pages {
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  font-size: 20px;
  color: #BF1448;
  padding-left: 15px;
  padding-top: 5px;
  background-color: #F4E7EB;
  margin-bottom: 15px;
  border: none;
}

.toggle-off, .toggle-on {
  position: relative;
  width: 50px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
  border: solid 2px #BF1448;
  cursor: pointer;
}
.toggle-off-ball, .toggle-on-ball {
  position: absolute;
  top: 0.5px;
  left: 1px;
  padding: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #BF1448;
  cursor: pointer;
}

.toggle-on {
  background-color: #BF1448;
}
.toggle-on-ball {
  background-color: white;
  left: auto;
  right: 1px;
}

.read-or-not {
  color: #BF1448;
  font-size: 20px;
}

.toggle-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
}

.delete-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    position: relative;
    height: auto;
    display: flex;
  }

  .titles {
    text-align: center;
  }

  .form-container, #stats-container {
    margin-right: auto;
    margin-left: auto;
  }

  #mybooks {
    margin-top: 20px;
  }

  .card-container {
    float: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 0px;
  }

  .card {
    width: 450px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .toggle-div {
    margin-left: 30px;
  }

  .delete-div {
    margin-right: 30px;
  }

  #michel {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1259px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  #mybooks {
    margin-top: 0px;
  }

  #sidebar {
    width: 100%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .titles {
    text-align: center;
  }

  .form-container, #stats-container {
    margin-right: auto;
    margin-left: auto;
  }

  .card-container {
    width: 100%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    width: 420px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .toggle-div {
    margin-left: 10px;
  }

  .delete-div {
    margin-right: 10px;
  }

  #michel {
    display: none;
    align-self: flex-end;
  }

  #michel-footer {
    display: flex;
  }
}